
geckodriver.log
.env
.venv
.vscode/

# Ignore nodejs folders and subfolders
/nodejs/node_modules/

# Ignore Python folders and subfolders
__pycache__/
.pytest_cache/
temp/
data/
output/
lumen/
lumen_/
# Ignore picks directory (add this if missing)
stocks/picks/
stocks/notebooks_mean_reversion/executed/
stocks/notebooks_mean_reversion/archive/
stocks/logs/
stocks/data/
stocks/output/
